@import './manzhai-variables.scss';
@import './scss/index.scss';

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $color-page-background;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

html[data-fullscreen] {
  height: 100%;
  body,
  #app {
    height: 100%;
  }
}

.flip-list-move {
  transition: transform 0.2s;
}

.hidden-input {
  opacity: 0;
  outline: none;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}
