// 单元模块

.acg-baike-image {
  text-align: center;
  img {
    max-width: 100%;
  }
}

.acg-baike-left-right {
  &__inner {
    display: flex;

    & > * + * {
      margin-left: 20px;
    }
  }
}

.acg-baike-table {
  > table {
    width: 100%;
  }
}

@media screen and (max-width: $screen-width-sm) {
  .acg-baike-left-right {
    &__inner {
      flex-direction: column;
      > * + * {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
}
